// $main-color: #333333;
$main-color: #50495c;
// $main-color-shade-1: #999;
$main-color-shade-1: #afafcc;
$secondary-color: #947e8a;
$highlight-color: #d6c0d1;

$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 600;

$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $font-weight-regular;
$base-font-size: 16px;
$base-text-color: $main-color;
$base-line-height: 2em;
$base-anchor-color: $secondary-color;

$title-font-family: 'Josefin Sans', sans-serif;

$meta-text-color: $main-color-shade-1;
$meta-font-size: .8em;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$spacing-unit: 30px;

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

body {
  // background-color: #eff4f7;
}
