.greyfocus-logo {
  display: inline-block;
  line-height: 200px;
  background-color: #82a3ab;
  color: #fff;

  font-family: $title-font-family;
  font-size: 200px;
  text-align: center;

  padding: 20px 36px 15px 30px;

  // margin: 100px 0 100px;
}
