body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-text-color
}

#{$a-tags} {
  color: $base-anchor-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  padding-top: 1.5em;
  color: $secondary-color;
}

h1 {
  padding-left: .5em;
  border-left: .5em solid $secondary-color;
  font-size: 240%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 160%;
}

h5 {
  font-size: 140%;
}

h6 {
    font-size: 120%;
}

blockquote {
  border-left: 5px solid $highlight-color;
}
