<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-4 side-menu">

        <img src="{{ "/img/greyfocus-logo-easter2-small.png" | prepend: site.baseurl }}"
          title="greyfocus.com"
          alt="greyfocus logo"
          class="img-responsive logo" />


        {% include navigation.html %}
      </div>
      <div class="col-md-8">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
